<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.klnce.edu/">
                        Website
                    </a>
                </li>
                <li>
                    <a href="https://www.klnce.edu/Academics/Admissions.aspx">
                        Admission
                    </a>
                </li>
                <li>
                    <a href="https://www.klnce.edu/General/Placement.aspx">
                        Placement
                    </a>
                </li>
                <li>
                    <a href="https://www.klnce.edu/alumni/login.html">
                        Alumni
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div>
    </div>
</footer>
